.homepage-container{
  min-height: 80vh;
}

h3 {
  padding: 2rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 2 rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 2rem 0;
}

h6{
  padding: 1rem 0;
}

.header{
  background-color: rgb(231, 224, 212);
  padding: 0.4rem 0;
}

.padding-cartscreen{
  padding: 2rem 0;
  background-color: aqua;
}


.name{
  text-transform: initial;
}